asgiref==3.9.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
certifi==2024.12.14
cffi==1.17.1
channels==4.3.1
channels_redis==4.3.0
charset-normalizer==3.4.1
constantly==23.10.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==45.0.7
daphne==4.2.1
Django==5.1.5
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
itypes==1.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
msgpack==1.1.1
mysqlclient==2.2.7
pillow==11.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.1.0
python-decouple==3.8
python-dotenv==1.1.1
redis==6.4.0
requests==2.32.3
service-identity==24.2.0
setuptools==75.8.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.15.0
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
zope.interface==7.2
